.teams {
  margin: 0;
  background-color: #e6f1e6;
  padding: 7px 31px;
  width: 100%;
}

.teamsContainer {
  width: 100%;
  margin: 0;
  justify-content: center;
}

.teams li {
  list-style-type: none;
  color: #727273;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teams img {
  width: 40px;
  height: auto;
}

.teams li + li {
  border-top: 1px #E9CDC9 solid;
}

.locationContainer {
  width: 100%;
  padding: 60px;
  box-sizing: border-box;
  background-color: #FF7E21;
  align-items: center;
  justify-content: center;
}

.locationContainerMobile {
  padding: 20px;
  background-color: #FF7E21;
}

.location {
  color: #F7EEED;
  margin: 0;
}

.userName {
  color: #BC645A;
}
